body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #dfc7b4; /* Light beige background */
    margin: -10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensures full height */
  /* Adds top & bottom spacing */
    overflow-x: hidden;
    overflow-y: hidden;
}

#app {
    width: 350px; /* Fixed width */
    height: 500px; /* Fixed height */
    background: #f5e6da; /* Light background */
    padding: 20;
    
}